form {
  display: flex;
  justify-content: flex-start;
}

.form .inputField {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #808080;
}

.form .inputField,
.form .inputField textarea {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.9);
}

.form .inputField:focus {
  outline: none;
  border: 1px solid #daa520;
}

button {
  margin-left: 20px;
  margin-top: 10px;
}

.submit {
  background-color: rgb(179, 245, 245);
  border-radius: 5px;
}
